<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default.html}">
<head>
<title>World Time</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="jumbotron">
			<h1 class="display-4">World Time</h1>
                        <span th:text="${@environment.getProperty('version')}">VERSION<span>
		</div>

		<div class="card">
			<div class="card-body">
				<a th:href="@{getTime}" class="btn btn-success">Get Time</a>
			</div>
		</div>

</body>
</html>
